<div class="side" id="side" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" th:fragment="side_bar">
    <div class="app_icons">
        <img th:src="@{/img/logo-PbCA.png}" alt="" class="app_icon" style="border-radius: 100px;">
    </div>
    <nav class="menus">
        <ul class="menu">
            <li>
                <a th:href="@{/cars/list}" style="" class="menu-list">
                    <i class="fa-solid fa-house side-icon fa-lg"></i>
                    <div>ホーム</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/shop}" style="" class="menu-list">
                    <i class="fa-solid fa-shop"></i>
                    <div>店名&画像登録</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/template}" style="" class="menu-list">
                    <i class="fa-solid fa-file-lines side-icon fa-lg"></i>
                    <div>テンプレート選択</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/add}" style="" class="menu-list">
                    <i class="fa-solid fa-circle-plus side-icon fa-lg"></i>
                    <div>新規登録</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/intake}" style="" class="menu-list">
                    <i class="fa-solid fa-cloud-arrow-down side-icon fa-lg"></i>
                    <div>データ取込</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/list}" style="" class="menu-list">
                    <i class="fa-solid fa-car side-icon fa-lg"></i>
                    <div>車両一覧</div>
                </a>
            </li>
            <li style="text-align: center; margin-top: 30px;">
                <a th:href="@{/file/車両一覧.xlsx}" download="車両一覧.xlsx" class="menu-list" style="padding: 3px 0; display: block;text-align: center; background-color: white; color: rgb(14, 130, 255);">
                    <div style="line-height: 1.5;">取込用車両一覧<br>Excelテンプレ<br>ダウンロード</div>
                </a>
            </li>
            <li style="margin-top: 30px;">
                <a th:href="@{/}" style="justify-content: center;" class="menu-list">
                    <div>サイトトップへ</div>
                </a>
            </li>
        </ul>
    </nav>
</div>


